.cart-process {
    position: relative;
    margin: 0 0 10px 0;
    height: 70px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #eee;
    background: #fafafa;
}

.cart-process h1 {
    margin: 0 0 0 30px;
    color: #a7a7a7;
    text-shadow: 0 -1px 0 #fff;
    line-height: 70px;
}

.cart-process i {
    position: absolute;
    top: 0;
    right: 30px;
    display: inline-block;
    width: 340px;
    height: 70px;
    background: url(http://b0.hucdn.com/img/trade/cart_merge.png) no-repeat 500px 500px;
}

.cart-process.process-step1 i {
    background-position: 0 -88px;
}

.cart-process.process-step2 i {
    background-position: 0 -183px;
}

.cart-process.process-step3 i {
    background-position: 0 -274px;
}

.cart-process.process-step4 i {
    background-position: 0 -367px;
}

.cart-list {
    position: relative;
    padding: 20px 20px 20px;
}

.cart-list .pure-table {
    width: 100%;
    border: none;
    border-top: 1px solid #ddd;
}

.cart-list .pure-table thead {
    background: #f3f3f3;
    color: #555;
}

.cart-list .pure-table td,.cart-list .pure-table th {
    border-left: none;
}

.cart-th-check {
    width: 60px;
}

.notshipped {
    padding: 30px;
}

.notshipped h6 {
    margin: 0 0 15px 0;
    color: #666;
    font-weight: 400;
    font-size: 17px;
}

.notshipped p {
    text-align: right;
}

.notshipped p a {
    font-size: 12px;
}

.notshipped-op {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.notshipped-op a {
    margin: 0 10px;
    padding: 10px 24px;
    border-radius: 5px;
    background: #ff5482;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

.notshipped-items {
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: -35px;
    padding: 0 15px;
    width: 600px;
    height: 150px;
    border-top: 1px #eee solid;
    border-bottom: 1px #eee solid;
    white-space: nowrap;
}

.notshipped-items img {
    margin: 10px;
}

.cart-th-item-info {
    width: 280px;
}

.cart-th-item-sku {
    width: 140px;
}

.cart-th-subtotal {
    width: 100px;
    text-align: right;
}

.cart-th-ops {
    width: 50px;
}

.cart-list td {
    padding: 12px;
    vertical-align: top;
}

.seg-entry {
    height: 15px;
}

.cart-list .event-entry {
    border: 1px solid #d8d8d8;
    background: #f4f4f4;
}

.cart-list .event-entry td {
    *border: 1px solid #d8d8d8;
    *background: #f4f4f4;
}

.event-entry .event-title {
    padding-left: 6px;
    color: #555;
}

.cart-list .item-entry {
    border: 1px solid #d8d8d8;
    border-top: 0;
}

.cart-list .item-entry td.cart-item-info .title {
    *width: 300px;
}

.cart-list .item-entry td {
    *border-bottom: 1px solid #d8d8d8;
}

.cart-list .item-entry td.first-for-ie {
    *border-left: 1px solid #d8d8d8;
}

.cart-list .item-entry td.last-for-ie {
    *border-right: 1px solid #d8d8d8;
}

.cart-list .first-for-ie {
    *width: 35%;
}

.cart-list .cart-td-check {
    *width: auto;
}

.footer-entry {
    padding: 12px 0;
    border: 1px solid #d8d8d8;
    border-top: 0;
}

.footer-entry td {
    *border: 1px solid #d8d8d8!important;
}

.footer-entry .title {
    float: right;
    color: #afafaf;
    font-size: 13px;
}

.footer-entry .select-packet {
    float: right;
    display: inline-block;
    display: inline;
    height: 30px;
    outline: 0;
    border-color: #ccc;
    color: #777;
    line-height: 30px;
    *zoom: 1;
}

.footer-entry .select-packet:focus {
    border-color: #ccc;
}

.subtotal-row {
    float: left;
    margin: 3px 0;
    width: 100%;
}

.subtotal-row.topline {
    position: relative;
    left: 637px;
    padding-top: 3px;
    width: 300px;
    border-top: 1px #e0e0e0 solid;
}

.footer-entry .price {
    float: right;
    padding-right: 72px;
    width: 100px;
    color: #ff5482;
    vertical-align: top;
    text-align: right;
    font-size: 14px;
    line-height: 16px;
}

.footer-entry .price span {
    vertical-align: top;
}

.footer-entry .price em {
    color: #afafaf;
    vertical-align: top;
    font-weight: 400;
    font-size: 12px;
}

.footer-entry.for-orderconfirm .price {
    padding: 0;
}

.cart-list .item-entry.disabled {
    background: #f3f3f3;
}

.cart-list .item-entry.disabled .cart-td-check {
    padding-left: 20px;
    color: #999;
}

.cart-list .item-entry.disabled .cart-td-check .iconfont {
    font-size: 13px;
}

.cart-list td.cart-td-check {
    padding: 12px 0 12px 40px;
    vertical-align: middle;
    vertical-align: middle;
    text-align: center;
}

.cart-td-item-info .image {
    float: left;
    overflow: hidden;
    padding: 1px;
    width: 75px;
    height: 75px;
    border: 1px solid #ddd;
}

.cart-td-item-info .image img {
    width: 75px;
}

.cart-td-item-info .title {
    display: block;
    overflow: hidden;
    margin: 0 20px 0 90px;
    line-height: 20px;
}

.cart-td-item-sku {
    color: #888;
}

td.cart-td-item-price {
    font-family: tahoma,​arial,​sans-serif;
}

td.cart-td-item-price .strike {
    color: #a9a9a9;
    font-weight: 400;
}

.cart-td-number div {
    position: relative;
    font-size: 0;
}

.cart-td-number .cart-td-tip {
    margin-top: 5px;
    width: 72px;
    text-align: center;
    font-size: 12px;
}

.cart-td-number .cart-td-tip p {
    display: none;
    margin: 0;
}

.cart-td-number .cart-td-tip .iconfont {
    vertical-align: top;
    font-size: 13px;
}

.cart-td-number .cart-td-tip .tip-limit,.cart-td-number .cart-td-tip .tip-purchase {
    color: #f5c400;
}

.cart-td-number .cart-td-tip .tip-leftnum {
    color: #f15b12;
}

.cart-td-number .cart-td-tip .tip-stock {
    color: red;
}

.pure-form .cart-td-number input {
    display: inline-block;
    padding: 7px 5px;
    width: 30px;
    height: 27px;
    border-radius: 0;
    background: #fff;
    text-align: center;
    font-size: 13px;
    *zoom: 1;
    *display: inline;
    *height: 12px;
    *line-height: 12px;
    *border: 1px #ccc solid;
    *width: 15px;
}

.cart-td-number .number-op {
    display: inline-block;
    width: 20px;
    height: 25px;
    *zoom: 1;
    *display: inline;
}

.cart-td-number .number-op {
    border: 1px #ccc solid;
    background: -moz-linear-gradient(top,#fff,#eee);
    background: -ms-linear-gradient(top,#fff,#eee);
    background: -o-linear-gradient(top,#fff,#eee);
    background: -webkit-gradient(linear,center top,center bottom,from(#fff),to(#eee));
    background: -webkit-linear-gradient(top,#fff,#eee);
    background: linear-gradient(top,#fff,#eee);
    color: #999;
    vertical-align: top;
    text-align: center;
    line-height: 25px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee')";
}

.cart-td-number .number-op.del-num {
    border-right: none;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
}

.cart-td-number .number-op.add-num {
    border-left: none;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
}

.cart-td-number .number-op.add-num .iconfont,.cart-td-number .number-op.del-num .iconfont {
    display: inline-block;
    font-size-adjust: none;
    font-size: 10px;
    -webkit-transform: scale(.833333);
}

.cart-td-number .number-op:hover {
    background: -moz-linear-gradient(top,#fff,#f6f6f6);
    background: -ms-linear-gradient(top,#fff,#f6f6f6);
    background: -o-linear-gradient(top,#fff,#f6f6f6);
    background: -webkit-gradient(linear,center top,center bottom,from(#fff),to(#f6f6f6));
    background: -webkit-linear-gradient(top,#fff,#f6f6f6);
    background: linear-gradient(top,#fff,#f6f6f6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#f6f6f6')";
}

.cart-td-number .number-op:active {
    box-shadow: 0 0 1px #bbb inset;
}

.cart-td-number .number-op.disable:active {
    box-shadow: none;
}

.cart-td-number .number-op.disable {
    background: -moz-linear-gradient(top,#e0e0e0,#f0f0f0);
    background: -ms-linear-gradient(top,#e0e0e0,#f0f0f0);
    background: -o-linear-gradient(top,#e0e0e0,#f0f0f0);
    background: -webkit-gradient(linear,center top,center bottom,from(#e0e0e0),to(#f0f0f0));
    background: -webkit-linear-gradient(top,#e0e0e0,#f0f0f0);
    background: linear-gradient(top,#e0e0e0,#f0f0f0);
    cursor: default;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0', endColorstr='#f0f0f0');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e0e0e0', endColorstr = '#f0f0f0')";
}

.coupon-bar,.point-bar {
    position: relative;
    padding: 25px 15px 25px 115px;
    height: 18px;
    border-bottom: 1px solid #ddd;
    vertical-align: top;
}

.coupon-bar {
    *z-index: 100;
    _zoom: 1;
}

.point-bar {
    *z-index: 50;
    _zoom: 1;
}

.point-bar {
    height: auto;
}

.coupon-bar a {
    color: #ff5482;
}

.coupon-subtotal,.point-subtotal {
    position: absolute;
    top: 25px;
    right: 10px;
    color: green;
    font-size: 14px;
}

.coupon-select {
    position: relative;
    left: -1px;
    padding: 4px 20px 4px 8px;
    border: 1px #ccc solid;
    color: #999;
    cursor: pointer;
    *zoom: 1;
    *top: -5px;
}

.coupon-select .select-mask {
    position: absolute;
    bottom: 1px;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 1px;
    background: #fff;
    *overflow: hidden;
}

.coupon-select:hover,.coupon-select:hover .coupon-selectlist {
    border: 1px solid #aaa;
}

.coupon-select:hover span {
    color: #555;
}

.coupon-select i {
    position: absolute;
    top: 2px;
    right: 3px;
    color: #999;
    font-size: 12px;
    *top: 4px;
}

.coupon-select:hover i {
    color: #555;
}

.coupon-reset {
    margin-left: 4px;
}

.coupon-number {
    display: none;
}

.coupon-number input {
    position: relative;
    top: -5px;
    width: 125px;
}

.coupon-number a {
    vertical-align: top;
}

.coupon-number-guide,.coupon-useinfo {
    *position: relative;
    *top: -10px;
}

.coupon-bar .coupon-notice {
    position: absolute;
    top: -15px;
    left: 100px;
    z-index: 999;
    display: none;
    padding: 5px;
    width: 12em;
    height: 1.5em;
    border-radius: 3px;
    background: #888;
    color: #fff;
    text-align: center;
    line-height: 1.5em;
    *top: -10px;
    _display: none!important;
}

.coupon-bar .coupon-notice .triangle {
    position: relative;
    top: 2px;
    left: 59px;
    display: block;
    width: 0;
    height: 0;
    border-color: #888 transparent transparent;
    border-style: solid;
    border-width: 10px 10px 0;
    *left: 0;
}

.coupon-bar .coupon-use {
    margin-left: 8px;
    padding: 6px 8px;
    border-radius: 2px;
    background: #ff668f;
    color: #fff;
    vertical-align: top;
}

.coupon-use:hover {
    background: #ff5482;
}

.coupon-reset:hover {
    text-decoration: underline;
}

.coupon-useinfo {
    display: none;
}

.coupon-countdown {
    margin-left: 10px;
    padding: 2px 6px;
    border: 1px solid #fbdde4;
    border-radius: 10px;
    background: #ffdce5;
    color: #b0262b;
}

.coupon-selectlist {
    position: absolute;
    left: -1px;
    z-index: 1;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    height: 153px;
    border: 1px #ccc solid;
    background: #fff;
    *width: 400px;
    *top: 24px;
    _overflow: hidden;
    _zoom: 1;
    _z-index: 200;
}

_:-moz-tree-row(hover),.coupon-selectlist {
    left: -1px;
}

.coupon-selectlist li {
    padding: 0;
    padding: 10px 25px 10px 10px;
    list-style: none;
    white-space: nowrap;
}

.coupon-use-name {
    display: none;
}

.coupon-selectlist .coupon-name,.coupon-selectlist .coupon-note,.coupon-selectlist .coupon-op {
    display: inline-block;
    vertical-align: top;
    *zoom: 1;
    *display: inline;
}

.coupon-selectlist .coupon-name {
    padding-right: 15px;
    width: 210px;
}

.coupon-selectlist .coupon-note {
    padding-right: 15px;
    width: 120px;
    color: #333;
    line-height: 31px;
    *width: 90px;
    *padding-right: 0;
}

.coupon-selectlist .coupon-op {
    line-height: 31px;
}

.coupon-selectlist .coupon-op a {
    padding: 2px 4px;
    border-radius: 2px;
    background: #ff5482;
    color: #fff;
}

.shortfall .coupon-op a {
    background: #fff;
    color: green;
}

.coupon-selectlist .coupon-name p {
    position: relative;
    top: -3px;
    margin-bottom: 0;
    color: #ff5482;
    font-size: 13px;
    line-height: 1em;
}

.coupon-selectlist li.cantuse .coupon-op a {
    background: #999;
}

.coupon-selectlist li.cantuse {
    cursor: default;
}

.coupon-selectlist li.cantuse .coupon-name p,.coupon-selectlist li.cantuse .coupon-note,.coupon-selectlist li.shortfall .coupon-name p,.coupon-selectlist li.shortfall .coupon-note {
    color: #999;
}

.coupon-selectlist li:hover {
    background: #3399fe;
}

.coupon-selectlist li:hover,.coupon-selectlist li:hover .coupon-name,.coupon-selectlist li:hover .coupon-name p,.coupon-selectlist li:hover .coupon-note {
    color: #fff;
}

.coupon-bar .note-text,.point-bar .note-text {
    position: absolute;
    top: 25px;
    left: 15px;
    margin-right: 20px;
    width: 80px;
    text-align: right;
}

.point-bar {
    position: relative;
}

.point-bar .note {
    float: left;
    display: inline;
}

.point-bar select {
    padding: 0;
    padding-left: 12px;
    width: 80px;
    outline: 0!important;
    border: 1px solid #ccc;
    background-color: #fff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    color: #777;
    vertical-align: middle;
    font-size: 14px;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.point-bar option {
    padding: 0;
    padding-left: 12px;
    width: 80px;
    background-color: #fff;
    color: #777;
    vertical-align: middle;
    font-size: 14px;
}

.point-bar select:focus {
    border-color: #ccc;
}

.point-bar .show-notice,.point-bar .triangle {
    background-image: url(http://b0.hucdn.com/img/trade/icon_merge.png);
    background-repeat: no-repeat;
}

.point-bar .show-notice {
    display: inline-block;
    margin-left: 10px;
    width: 14px;
    height: 14px;
    background-position: -2px -2px;
    color: #999;
    vertical-align: middle;
    font-size: 14px;
    cursor: pointer;
    _position: absolute;
    _top: 30px;
    _left: 200px;
    _zoom: 1;
    _overflow: hidden;
}

.point-bar .point-notice {
    position: absolute;
    top: 52px;
    left: 111px;
    z-index: 10;
    display: none;
    padding: 8px 15px;
    width: 175px;
    border: 1px solid #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    color: #999;
}

.point-bar .point-notice a {
    color: #666;
}

.point-bar .point-notice a:hover {
    color: #333;
}

.point-bar .triangle {
    position: absolute;
    top: -6px;
    left: 99px;
    overflow: hidden;
    width: 8px;
    height: 6px;
    background-position: -5px -19px;
    text-align: center;
}

.point-bar .use-note {
    clear: both;
    margin-left: -7px;
    padding-top: 8px;
    color: #999;
    _padding-top: 0;
    _margin-top: -12px;
}

td.cart-td-subtotal {
    color: #ff5482;
    text-align: right;
    font-size: 14px;
}

#pay-bar.confirm-pay-bar {
    background: #fafafa;
}

#pay-bar .cart-result {
    overflow: hidden;
}

#pay-bar {
    position: relative;
    margin-top: 15px;
    padding: 0 0 0 25px;
    border: 1px solid #eee;
    background: #f3f3f3;
    *zoom: 1;
}

#pay-bar>div {
    line-height: 60px;
}

.m-pay-bar-cont {
    margin-top: 15px;
    width: 963px;
    height: 60px;
}

#content .z-bar-fixed {
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 936px;
    height: 60px;
    border-color: #ddd;
}

.minato-single-more {
    position: absolute;
    top: 27px;
    right: 40px;
    color: #666;
}

.minato-single {
    position: relative;
    margin-top: 20px;
    background: #fff;
    box-shadow: 0 1px 2px #d1d1d1;
}

.trade-content .minato-single h3 {
    padding-top: 10px;
    padding-left: 8px;
    border-bottom: none;
}

.minato-text {
    position: relative;
    display: none;
    display: none;
    margin-top: 20px;
    padding: 10px 15px;
    background: #fefbeb;
    color: #474749;
    color: #ff5482;
    font-size: 13px;
    line-height: 1.4em;
}

.minato-text a {
    color: #ff5482;
    text-decoration: underline;
    font-weight: 700;
}

.minato-text a:hover {
    color: #ff5482;
    text-decoration: underline;
}

.minato-items {
    display: none;
    padding: 0 13px 30px 13px;
    list-style: none;
}

.minato-items li {
    display: inline-block;
    margin: 0 17px;
    *zoom: 1!important;
    *display: inline!important;
}

.minato-items li img {
    width: 160px;
    height: 160px;
}

.minato-items li a {
    display: block;
    width: 160px;
    line-height: 1.4em;
}

.minato-items-name {
    overflow: hidden;
    margin: 3px 0;
    height: 18px;
    color: #777;
}

.minato-items a:hover .minato-items-name {
    color: #555;
}

.minato-items-price {
    margin: 0;
    color: #999;
    text-align: center;
    font-size: 13px;
}

.minato-items-price b {
    color: #bbb;
    text-decoration: line-through;
    font-weight: 400;
}

.minato-items-price strong {
    margin: 0 5px 0 0;
    color: #ff5482;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
}

.minato-items-price strong em {
    margin: 0 2px 0 0;
    font-style: normal;
    font-size: 12px;
}

.cart-payment {
    color: #ff4975;
    font-size: 26px;
    line-height: 60px;
}

.shipping-fee-count {
    position: absolute;
    top: 42px;
    right: 16px;
    color: #999;
}

#pay-btn {
    margin: 10px 15px 0;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background: #ff5482;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
}

#pay-btn.disable {
    background: #aaa;
    color: #666;
    cursor: default;
}

.cart-td-discount span {
    padding: 3px 10px;
    border: 1px solid #ffd4b1;
    background: #fffcc3;
    color: #ff5e39;
}

.cart-list .mark-entry label {
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 5px 0 0;
    vertical-align: middle;
    text-align: right;
}

.cart-empty {
    padding: 50px 50px 200px 300px;
}

.cart-empty .title {
    color: #666;
    font-size: 16px;
}

.cart-empty .title .iconfont {
    margin: 0 10px 0 0;
    color: #ff5482;
    font-size: 28px;
}

.cart-empty .action {
    margin-left: 42px;
}

.cart-empty .action a:hover {
    text-decoration: underline;
}

.cart-empty .action .iconfont {
    font-size: 12px;
}

.promotion-notice {
    float: left;
    display: none;
    width: 100%;
}

.promotion-notice p {
    float: right;
    display: inline-block;
    margin-right: 68px;
    padding: 3px 6px;
    border: 1px #feecc6 solid;
    border-radius: 5px;
    background: #fef2e2;
    color: #bc8930;
}

.promotion-notice p a {
    color: #2873f0;
    text-decoration: underline;
}

.promotions-info {
    position: relative;
    top: -1px;
    display: none;
    color: #777;
}

.green-tag {
    position: relative;
    top: -1px;
    display: none;
    margin: 0 0 0 10px;
    padding: 0 5px;
    border: 1px solid #66a600;
    border-radius: 2px;
    background: #7dca00;
    color: #fff;
    font-size: 12px;
}

a.bfd_img_logo {
    float: right;
    display: block;
    overflow: hidden;
    margin: 5px 3px 0 0;
    width: 101px;
    height: 14px;
    background: url(http://static.baifendian.com/themes/logo/bfd_logo_ch.gif) no-repeat;
}

a.bfd_img_logo:hover {
    background: url(http://static.baifendian.com/themes/logo/bfd_logo_ch.gif) no-repeat 0 -14px;
}

.diaper-note {
    display: none;
    margin-left: 10px;
    color: #bc8930;
}

.i-oversea {
    display: none;
    margin-left: 8px;
    width: 38px;
    height: 20px;
    background: url(http://b0.hucdn.com/party/default/upload_ccab781c99fa8a2da1a31428db922a68_38x20.jpg) 0 0 no-repeat;
    box-shadow: 0 0 3px rgba(0,0,0,.3);
    vertical-align: middle;
}

.oversea-c {
    margin-bottom: -20px;
    padding: 0 30px;
}

.oversea-c-t {
    border-bottom: 1px solid #ddd;
}

.oversea-c-t label {
    font-weight: 700;
    font-size: 16px;
}

.oversea-c-t span {
    margin-left: 10px;
    color: #999;
}

.oversea-c-i {
    padding: 20px 5px;
}

.oversea-c-i label {
    display: inline-block;
    margin-right: 5px;
    width: 95px;
    text-align: right;
}

.oversea-c-i-f,.oversea-c-i-n {
    position: relative;
    padding-bottom: 10px;
}

.oversea-c-i-n span {
    margin-right: 10px;
}

.oversea-c-i-n .c-grey {
    color: #999;
}

.oversea-c-i-f input {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 5px;
    padding: .5em .6em;
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: inset 0 1px 3px #ddd;
}

.oversea-c-i-f .oversea-hide {
    display: none;
}

.oversea-c-i-f button {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: .5em .6em;
    border: 0;
    border-radius: 2px;
    background: #c9c9c9;
    color: #fff;
}

.oversea-c-i-f .current {
    background: #fe668f;
}

.oversea-c-w {
    color: #ff5484;
    text-align: right;
}

.oversea-c .error-info {
    position: absolute;
    top: 35px;
    left: 103px;
    color: #ff5484;
    font-size: 12px;
}

.u-is-mall a:hover {
    color: #3e3e3e;
    cursor: default;
}

.m-activity-tip ul {
    margin-top: 15px;
    padding: 15px 12px;
    border: 1px solid #eee;
    background: #fafafa;
}

.m-activity-tip li {
    margin-bottom: 15px;
    height: 20px;
    color: #666;
    list-style: none;
    line-height: 20px;
}

.m-activity-tip .icon-image,.m-activity-tip .icon-text {
    display: inline-block;
    margin-right: 10px;
    height: 20px;
    *display: inline;
    *zoom: 1;
}

.m-activity-tip .icon-text {
    padding: 0 3px;
}

.m-activity-tip .icon-image img {
    position: relative;
    top: 5px;
}

.m-activity-tip a {
    margin-right: 10px;
    color: #ff4965;
}

.m-activity-tip .text-desc {
    margin-right: 10px;
}

.m-activity-tip .tip-discount {
    display: inline-block;
    padding: 0 5px;
    height: 18px;
    border: 1px solid #ffd5af;
    background: #fffdc0;
    color: #ff4965;
    line-height: 18px;
    *display: inline;
    *zoom: 1;
}

.u-yen-icon {
    margin-right: 2px;
    font-weight: 400;
    font-family: arial;
}

.cart-td-item-info .icon-text {
    margin-right: 3px;
    padding: 2px;
}

.trade-content h3 {
    margin: 10px 22px;
    height: 46px;
    border-bottom: 1px solid #ddd;
    font: 700 16px/46px helvetica,tahoma,arial,sans-serif;
}

.trade-content h3 span {
    margin-left: 30px;
    color: #aaa;
    font-weight: 400;
    font-size: 12px;
}

.address-tip {
    margin: 10px;
    padding: 6px;
    border: 1px solid #b2e2ea;
    background: #e5f2f8;
    color: #666;
    font-size: 13px;
}

.address-tip p {
    margin-bottom: 0;
}

.address-tip .iconfont {
    color: #68b5e2;
    font-size: 16px;
}

.address-list {
    padding: 10px 25px;
}

.address-list ul {
    list-style: none;
}

.address-list li {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 5px 13px;
    padding: 10px;
    width: 270px;
    height: 110px;
    border-radius: 3px;
    box-shadow: 0 0 3px #ccc;
    color: #999;
    color: #000;
    vertical-align: top;
    font-size: 13px;
    cursor: pointer;
    *width: 269px;
    *border: 1px solid #ccc;
    *display: inline!important;
    *zoom: 1!important;
}

@media \0screen {
    .address-list li {
        width: 269px;
        border: 1px solid #ccc;
    }
}

.address-list li.checked,.address-list li:hover {
    box-shadow: 0 0 4px #a6a6a6;
}

.address-list li .letter-bg {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 7px;
    white-space: nowrap;
    font-size: 0;
}

.address-list li .letter-bg div {
    display: inline-block;
    margin: 0 2px;
    width: 20px;
    height: 7px;
    transition: .2s;
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    transform: skewX(20deg);
    *zoom: 1;
    *display: inline;
    -ms-transform: skewX(20deg);
}

.address-list li .letter-bg .first {
    margin-left: -10px;
}

.address-list li .letter-bg .red {
    background: #ccc;
}

.address-list li .letter-bg .blue {
    background: #e6e6e6;
}

.address-list li.checked .letter-bg .red,.address-list li:hover .letter-bg .red {
    background: #ffab97;
}

.address-list li.checked .letter-bg .blue,.address-list li:hover .letter-bg .blue {
    background: #abd5db;
}

.address-list li.add-address {
    position: relative;
    padding: 7px;
    border: 3px dashed #eee;
    box-shadow: none;
}

.address-list .add-new-address {
    display: inline-block;
    margin: 40px 0;
    width: 100%;
    color: #999;
    text-align: center;
    font-size: 18px;
    *zoom: 1;
    *display: inline;
}

.address-list li.add-address:hover {
    border: 3px #56bbcc dashed;
}

.address-list li.add-address:hover .add-new-address {
    color: #56bbcc;
}

h3 .management-address {
    font-weight: 400;
}

h3 .management-address:hover {
    color: #56bbcc;
}

.address-list li .addressee {
    overflow: hidden;
    margin: 8px 15px;
    height: 30px;
    white-space: nowrap;
}

.address-list li .addressee .name {
    font-size: 20px;
}

.address-list li .addressee .phone {
    margin-left: 15px;
    color: #888;
    font-size: 15px;
}

.address-list li .addressee .default {
    margin-left: 10px;
    color: #d35453;
}

.address-list li .footer a.modify {
    display: none;
    margin-left: 2px;
    color: #56bbcc;
}

.address-list li.checked .footer a.modify {
    display: inline;
}

.address-list li .footer a.modify:hover {
    text-decoration: underline;
}

.address-list li .footer {
    padding: 4px 15px;
}

.address-list li .address {
    overflow: hidden;
    padding: 0 15px;
    height: 38px;
    color: #aaa;
}

.address-list li .address em {
    color: #999;
}

.address-list li .check {
    position: absolute;
    right: -40px;
    bottom: -40px;
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-right: 40px solid #ee8e76;
    transition: .3s;
    *border-top: 40px solid #fff;
}

.address-list li.checked .check {
    right: 0;
    bottom: 0;
}

.address-list li .check i.iconfont {
    position: absolute;
    top: -26px;
    left: 19px;
    color: #fff;
    font-size: 17px;
}

.address-list li a.modify-address {
    display: none;
}

.address-list li label {
    cursor: pointer;
}

.account-list {
    padding: 10px 30px;
}

.invoice-bar {
    position: absolute;
    top: -45px;
    right: 30px;
}

.invoice-bar input {
    vertical-align: middle;
}

.invoice-bar input.invoice-name {
    padding: 1px 5px;
    height: 24px;
}

.pay-check {
    position: relative;
    display: none;
    width: 100%;
    height: 60px;
    background: #d8ecbb;
}

.pay-check-body {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 60px;
}

.pay-check-title {
    position: relative;
    display: inline-block;
    width: 140px;
    height: 60px;
    color: #666;
    vertical-align: top;
    text-align: center;
    font-size: 14px;
    line-height: 60px;
    *zoom: 1;
    *display: inline;
}

.pay-check-title span {
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 60px;
}

.pay-check-arrow {
    position: absolute;
    top: -24px;
    left: 50%;
    margin-left: -12px;
    width: 0;
    height: 0;
    border: 12px solid;
    border-color: #f5f5f5 #f5f5f5 #d8ecbb #f5f5f5;
}

.pay-check-input {
    display: inline-block;
    margin: 14px 0;
    width: 80px;
    *zoom: 1;
    *display: inline;
}

.pay-check-input input {
    padding: 8px 10px;
    width: 50px;
    outline: 0;
    border: 1px #ccc solid;
    border-radius: 3px;
    box-shadow: 0 1px 3px #e6e6e5 inset;
    color: #333;
    text-align: center;
    font-size: 14px;
}

.pay-check-input input[disabled] {
    border: 1px #ccc solid;
    background: #f0f0f0;
    box-shadow: 0 0 3px #cfcfcf inset;
    color: #999;
}

.pay-check-input input.error {
    border-color: #e54f4f;
    border-radius: 3px;
    box-shadow: 0 1px 3px #eaa4a4 inset;
}

.pay-check-success {
    position: absolute;
    bottom: -60px;
    left: 0;
    z-index: 19;
    width: 100%;
    height: 60px;
    background: #d8ebb9;
    color: #6eaa00;
    text-align: center;
    font-size: 18px;
    line-height: 60px;
    -webkit-transition: bottom .3s;
    -moz-transition: bottom .3s;
    -o-transition: bottom .3s;
    transition: bottom .3s;
    -ms-transition: bottom .3s;
}

.pay-check-success.successShow {
    bottom: 0;
}

.pay-check-success .iconfont {
    vertical-align: top;
    font-size: 18px;
}

.pay-check-op.error .pay-check-title {
    color: #e54f4f;
}

.pay-check-op {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.pay-check-btn {
    position: relative;
    top: -2px;
    display: inline-block;
    overflow: hidden;
    width: 135px;
    height: 30px;
    border-bottom: 2px solid #568c0a;
    border-radius: 3px;
    background: #6dac12;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    line-height: 30px;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    *zoom: 1;
    *display: inline;
    -ms-transition: .2s;
}

.pay-check-btn .iconfont {
    position: absolute;
    top: 0;
    left: 10px;
    width: 30px;
    height: 20px;
    color: #fff;
    -webkit-transition: left .25s .3s;
    -moz-transition: left .25s .3s;
    -o-transition: left .25s .3s;
    transition: left .25s .3s;
    -ms-transition: left .25s .3s;
}

.pay-check-btn span {
    position: absolute;
    right: 10px;
    left: 10px;
    display: block;
    padding-left: 20px;
    text-align: center;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    -ms-transition: opacity .2s;
}

.pay-check-countdown {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 8px;
    width: 45px;
    height: 30px;
    background: rgba(0,0,0,.1);
    line-height: 30px;
    -webkit-transition: left .25s;
    -moz-transition: left .25s;
    -o-transition: left .25s;
    transition: left .25s;
    -ms-transition: left .25s;
}

.pay-check-btn:hover {
    background: #5e9b05;
    color: #fff;
}

.pay-check-btn .pay-check-wait {
    left: 50px;
}

.pay-check-btn.send span.pay-check-wait {
    opacity: 0;
    *display: none;
}

.pay-check-btn.send .pay-check-countdown {
    left: -61px;
}

.pay-check-btn.wait {
    border-bottom: 2px solid #aaa;
    background: #ccc;
    color: #666;
    cursor: default;
}

.pay-check-btn.wait span.pay-check-resend {
    opacity: 0;
    *display: none;
}

.pay-check-btn.wait .pay-check-countdown {
    left: 0;
    -webkit-transition: left .25s .3s;
    -moz-transition: left .25s .3s;
    -o-transition: left .25s .3s;
    transition: left .25s .3s;
    -ms-transition: left .25s .3s;
}

.pay-check-btn.wait .iconfont {
    left: -30px;
    -webkit-transition: left .25s;
    -moz-transition: left .25s;
    -o-transition: left .25s;
    transition: left .25s;
    -ms-transition: left .25s;
}

.account-list .pay-type {
    position: relative;
    padding: 5px 25px;
    height: 40px;
    background: #f5f5f5;
    color: #555;
    font-size: 13px;
    line-height: 40px;
}

.account-list .pay-type input {
    margin: 0 5px 0 0;
}

.cash-balance em {
    color: #333;
    font-weight: 700;
    font-size: 18px;
}

.pay-online {
    margin: 15px 0 0 0;
}

.pay-online .pay-type {
    border: none;
    background: 0 0;
}

.pay-online .pay-type em {
    margin: 0 0 0 10px;
    color: #ff5482;
    font-size: 26px;
}

.tab-bar {
    margin: 15px 0 0 50px;
    height: 36px;
    border-left: 1px solid #ddd;
}

.tab-bar li {
    float: left;
    display: inline-block;
    padding: 8px 0;
    width: 170px;
    height: 19px;
    border: 1px solid #ddd;
    border-left: none;
    background: #f5f5f5;
    box-shadow: 0 -2px 3px #eee;
    color: #777;
    list-style: none;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
}

.tab-bar li.current {
    z-index: 10000;
    height: 20px;
    border-bottom: none;
    background: #fff;
    color: #333;
    font-weight: 700;
}

.tab-panels {
    margin: 0 0 0 50px;
    border: 1px solid #ddd;
    box-shadow: 0 -2px 3px #eee;
}

.bank-list {
    padding: 30px 0 20px 1px;
}

.bank-list div.b {
    float: left;
    display: inline;
    margin-right: 14px;
    margin-bottom: 18px;
    padding-left: 10px;
    height: 40px;
    cursor: pointer;
}

.bank-list div.b input {
    float: left;
    margin-top: 15px;
    width: 13px;
    height: 13px;
}

.bank-list label {
    float: left;
    display: inline;
    margin-left: 9px;
    padding: 1px;
    width: 172px;
    height: 40px;
    border: 1px solid #e6e6e6;
    cursor: pointer;
}

.bank-list div.b label img,.bank-list div.b label span {
    vertical-align: middle;
}

.bank-list div.current label {
    padding: 0;
    border: 2px solid #ff5482;
}

.confirmation-area {
    position: relative;
    margin: 30px 30px 80px 300px;
    border: 3px solid #ff5482;
    border-radius: 5px 5px 0;
    text-align: right;
    *padding-bottom: 50px;
    _padding-bottom: 50px;
}

html[lang=en] .confirmation-area {
    padding-bottom: 50px;
}

.confirmation-area.disable {
    border: 3px solid #ccc;
}

.confirmation-area .pay-confirm {
    padding: 10px 15px 5px;
}

.confirmation-area .pay-confirm .price {
    color: #ff5482;
    font-size: 26px;
}

.confirmation-area .address-confirm {
    padding: 5px 15px;
    background: #f3f3f3;
}

.confirmation-area .address-confirm p {
    margin: 2px 0;
    color: #555;
}

.confirmation-area .submit-order-btn {
    position: absolute;
    right: -3px;
    bottom: -41px;
    width: 150px;
    height: 38px;
    border-radius: 0 0 5px 5px;
    background: #ff5482;
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 38px;
    *top: 110px;
    *right: 30px;
}

.confirmation-area .submit-order-btn.disable {
    background: #ccc;
    color: #666;
    text-shadow: none;
    cursor: default;
}

.address-box fieldset {
    margin: 0;
    padding: 10px 0;
    border: none;
}

.address-box .pure-control-group {
    margin: 8px 0;
}

.address-box .pure-control-group label {
    display: inline-block;
    margin-right: 10px;
    width: 120px;
    text-align: right;
    *zoom: 1;
    *display: inline;
}

.address-box .pure-control-group input {
    padding: 4px 6px;
    height: 22px;
    outline: 0;
    border: 1px #ccc solid;
    box-shadow: 0 1px 2px #e6e6e6 inset;
}

.address-box .pure-control-group textarea {
    padding: 4px;
    outline: 0;
    border: 1px #ccc solid;
    box-shadow: 0 1px 2px #e6e6e6 inset;
    resize: none;
}

.address-box .pure-controls {
    margin-top: 10px;
    text-align: center;
}

.address-box .pure-controls button {
    padding: .6em 1.2em;
    outline: 0;
    font-size: 14px;
}

.address-box .pure-controls button {
    border: 1px #ccc solid;
    background: #f0f0f0;
    color: #333;
}

.address-box .pure-controls button:hover {
    background: #e6e6e6;
}

.address-box .pure-controls button:active {
    box-shadow: 0 1px 2px #aaa inset;
}

.address-box .pure-controls button.pink-btn {
    border: 1px #df1149 solid;
    background: #ff5482;
    color: #fff;
}

.address-box .pure-controls button.pink-btn:hover {
    background: #fd3a6e;
}

.address-box .pure-controls button.pink-btn:active {
    box-shadow: 0 1px 2px #b20030 inset;
}

.pay-type-num {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    padding: 0 10px;
    height: 30px;
    border: 1px solid #ffd4b1;
    background: #fffcc3;
    color: #ff5e39;
    line-height: 30px;
}

.pay-type.use .pay-type-num {
    display: block;
}

.event-remark {
    float: right;
}

.event-remark span {
    line-height: 26px;
}

.event-entry td {
    position: relative;
}

.event-remark input.view-RemarkInput {
    padding: 2px 5px;
    height: 24px;
}

.event-info {
    float: left;
    margin-top: 5px;
}

.bind-box {
    padding: 15px;
    color: #333;
    text-align: center;
    font-size: 14px;
}

.bind-box p {
    margin-bottom: 15px;
}

.bind-btn {
    display: inline-block;
    display: none;
    margin: 0 8px;
    padding: 8px 15px;
    background: #ff5482;
    color: #fff;
    *display: inline;
    *zoom: 1;
}

.bind-btn:hover {
    color: #fff;
}

.shipping-fee-count {
    position: absolute;
    top: 45px;
    right: 17px;
    color: #999;
}

.oversea-protocal-area {
    margin: 30px;
    text-align: right;
}

.trade-summary {
    position: relative;
    margin: -10px 0 10px;
    padding: 30px 30px 30px 70px;
    border: 1px solid #fdf3db;
    border-right: none;
    border-left: none;
    background: url(https://cdn1.iconfinder.com/data/icons/stuttgart/32/credit-card.png) no-repeat 30px 18px #fffbe8;
    color: #333;
    font: 700 16px helvetica,tahoma,arial,sans-serif;
}

.trade-summary .sub-title {
    margin-left: 30px;
    color: #aaa;
    font-weight: 400;
    font-size: 12px;
}

.trade-summary .payment {
    position: absolute;
    top: 30px;
    right: 40px;
    padding: 0 0 0 30px;
    border-left: 1px solid #ddd;
    font-weight: 400;
}

.trade-summary .price {
    color: #ff5482;
}

.trade-summary .payment a.detail {
    margin-left: 20px;
    color: #999;
    font-size: 12px;
}